@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    font-family: 'Lato', Arial, serif;
    background-color: #6c7989;
}

a {
    color: #1A242F;
    font-weight: bold;
    font-family: 'Lato', Arial, serif;
}

a:hover {
    color: #1A242F;
    text-decoration: none;
}

p {
    font-family: 'Lato', Arial, serif;
}

.bg {
    background-color: #bdbdbd;
}

footer {
    color: #fff;
    font-size: 13px;
}